//@import "/bower_components/normalize-css/normalize.css";

$primary-color: rgb(41, 79, 109);
$complementary-color: rgb(170, 121, 57);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-content {
  padding: 1em;
  flex: 1;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-content: stretch;
  align-items: center;

  background-color: $primary-color;
  border-bottom: 6px solid $complementary-color;

  .sub-nav {
    display: flex;
  }
  a {
    display: inline;
    padding: 1em;
    text-decoration: none;
    color: white;
    &.active {
      background-color: $complementary-color;
      color: white;
    }

    &:hover {
      color: white;
      background-color: $complementary-color;
    }
  }
}