{% set items = ['Home', 'About', 'Other', 'Login', 'Info'] %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twig Template</title>
    {#Include the style sheets#}
    <link rel="stylesheet" href="/styles/test.css">
</head>
<body>
    <div class="nav-bar">
        {% block navbar %}
            <div class="sub-nav">
                {% for item in items %}
                    {% if path_for(item) == current_path %}
                        <a href="{{ path_for(item) }}" class="active">{{ item }}</a>
                    {% else %}
                        <a href="{{ path_for(item) }}">{{ item }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock %}
</div>
<div class="main-content">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>